/* src/styles/Sidebar.css */
.sidebar {
  width: 240px;
  background: #252841;
  color: #fff;
  height: 100vh;
  position: fixed;
  transition: transform 0.3s ease, width 0.3s ease;
  transform: translateX(0); /* Sidebar is visible by default */
}

.sidebar.hidden {
  transform: translateX(-100%); /* Hide sidebar off-screen */
}

.sidebar.open {
  transform: translateX(0); /* Show sidebar when open */
}

.sidebar-header {
  padding: 13px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background: #161828;
  border-top: 2px solid #6357A6;
}
.list-item {
  display: flex !important; /* Use flexbox for alignment */
  align-items: center !important; /* Center items vertically */
  margin-left: 10px !important;
  padding: 8px 20px !important; /* Add more padding for better spacing */
  transition: background 0.3s, transform 0.3s;
}

.list-item:hover {
  background: #525667 !important; /* Use !important to force background color change */
  transform: scale(1);
  width: 90%;
  border-radius: 3px;
}

.list-item.active {
  background: #6357A6; /* Color for the active item */
  color: #fff;
  width: 90%;
  border-radius: 3px;
}

.list-item-icon {
  color: #fff !important;
  min-width: 34px !important; /* Ensure consistent icon spacing */
  font-size: 16px !important; /* Adjust icon size */
}

.list-item .MuiListItemText-primary {
  color: #fff;
  font-weight: 400;
  font-size: 14px; /* Adjust text size */
}
/* src/styles/Sidebar.css */
.mobile-menu-button {
  position: fixed !important;
  top: 12px;
  left: 225px;
  z-index: 1200;
  width: 30px; /* Width of the circle */
  height: 30px; /* Height of the circle */
  border-radius: 50%; /* Makes it a circle */
  background-color: #161828 !important; /* Background color of the circle */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.mobile-menu-button:hover {
  background-color: #e0e0e0; /* Change background color on hover */
}

.mobile-menu-button .MuiSvgIcon-root {
  color: #fff; /* Icon color */
}

