/* src/GlobalStyles.css */
/* src/styles/GlobalStyles.css */

/* Base Styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9; /* Global background color */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0 0 16px;
}

a {
  color: #5D36FF; /* Link color from your theme */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Custom scrollbar for webkit browsers */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  /* Custom scrollbar for Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }
  
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
    border: 3px solid #f1f1f1;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  